<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New Task</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newTaskForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="exampleFormControlInput1">Task Name</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        formControlName="description"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select State</label>
      <select class="form-control" formControlName="state">
        <option *ngFor="let s of posibleState" [ngValue]="s">{{
          s | taskStates
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Estimate</label>
      <input type="text" class="form-control" formControlName="estimate" />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!newTaskForm.valid"
      [ngClass]="{ 'cursor-not-allowed': !newTaskForm.valid }"
    >
      Save
    </button>
  </form>
</div>
