<h1 mat-dialog-title>Change State</h1>
<div mat-dialog-content>
  <h4>{{data.name}}</h4>
  <mat-form-field>
    <mat-label>Select State</mat-label>
    <mat-select [(value)]="selectedState">
      <mat-option *ngFor="let s of posibleStates" [value]="s">
        {{s | taskStates}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Ok</button>
</div>