<h1 mat-dialog-title>New Task</h1>
<div mat-dialog-content>
  Please, fill task's fields:
  <br />

  Task Name:<br />
  <input type="text" [(ngModel)]="newTask.name" /><br />
  Task Description:<br />
  <input type="text" [(ngModel)]="newTask.description" /><br />

  <mat-form-field>
    <mat-label>Select State</mat-label>
    <mat-select [(value)]="newTask.state">
      <mat-option *ngFor="let s of posibleStates" [value]="s">
        {{ s | taskStates }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  Task Estimate:<br />
  <input type="text" [(ngModel)]="newTask.estimate" /><br />
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Ok</button>
</div>
