<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Change State</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <h6>Select new State</h6>
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ selectedState | taskStates }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let s of posibleStates"
            (click)="selectState(s)"
            ngbDropdownItem
          >
            {{ s | taskStates }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close(selectedState)"
  >
    Save
  </button>
</div>
